<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nytestfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/098ef9a7-ac65-48df-be81-aa8a4d6e408b/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/NyTestFunctionApp</ResourceId>
    <UserName>$NyTestFunctionApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://nytestfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>